# Regression Analysis

### import required packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### load the dataset

In [3]:
df = pd.read_csv('./delivery_time.csv')
print(df)

    Delivery Time  Sorting Time
0           21.00            10
1           13.50             4
2           19.75             6
3           24.00             9
4           29.00            10
5           15.35             6
6           19.00             7
7            9.50             3
8           17.90            10
9           18.75             9
10          19.83             8
11          10.75             4
12          16.68             7
13          11.50             3
14          12.03             3
15          14.88             4
16          13.75             6
17          18.11             7
18           8.00             2
19          17.83             7
20          21.50             5

### Exploratory Data Analysis

In [4]:
df.head()

   Delivery Time  Sorting Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Delivery Time  21 non-null     float64
 1   Sorting Time   21 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 464.0 bytes

#### find the corariance between the columns to check if there is any relationship between them

In [6]:
print(df.cov())

               Delivery Time  Sorting Time
Delivery Time      25.754619     10.655810
Sorting Time       10.655810      6.461905

In [7]:
df.corr()

               Delivery Time  Sorting Time
Delivery Time       1.000000      0.825997
Sorting Time        0.825997      1.000000

### Split the data set into x and y columns

In [14]:
# x should always be the dataframe
x =  pd.DataFrame(df['Sorting Time'])
y = df['Delivery Time']

### Build Regression model

In [15]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(x,y)
model.predict(x)

array([23.07293294, 13.17881356, 16.47685335, 21.42391304, 23.07293294,
       16.47685335, 18.12587325, 11.52979366, 23.07293294, 21.42391304,
       19.77489315, 13.17881356, 18.12587325, 11.52979366, 11.52979366,
       13.17881356, 16.47685335, 18.12587325,  9.88077377, 18.12587325,
       14.82783346])

### Regression line visualization

In [ ]:
plt.scatter()